.single-application-container {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 7px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #805A3B;
}

.single-application__comment, .single-application__response {
  grid-column: 1/4;
}

.single-application__form-field {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.single-application__form-field-title {
  color: #bbb;
  font-weight: 100;
  margin: 10px 0;
  font-size: 10pt;
}