.single-application-container {
  margin: 20px auto;
  background-color: #fff;
  color: #805A3B;
  display: flex;
  flex-direction: row;
}

.single-application__job-title {
  color: #FD974F;
  font-weight: 200;
}

.single-application__company {
  font-weight: 100;
  font-size: 12pt;
  margin-top: 5px;
}

.single-application__main-section {
  width: 75%;
  border-right: 4px solid #eee;
  padding: 20px;
}

.single-application__aside {
  padding: 20px;
}

.single-application__form-field {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.single-application__form-field-title {
  color: #fff;
  font-weight: 100;
  margin: 10px 0px 5px;
  font-size: 10pt;
  padding: 2px;
  background-color: #FD974F;
}

.single-application__edit-field {
  color: #FD974F;
}
