.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #fff;
  box-shadow: 0px 2px 2px 2px #ddd;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.main-nav li {
  margin: 0 10px;
}

.logout-button {
  color: #C60000;
  border: none;
  font-size: 10pt;
  cursor: pointer;
  margin-left: 10px;
}

.logo-container {
  color: #C60000;
  font-size: 26px;
  margin: 10px;
}